# Learning Panda

In [3]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame(data=np.array([[1,2,3], [4,5,6], [7,8,9]]), columns=['A', 'B', 'C'])
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [8]:
df2 = pd.DataFrame(data=np.array([[10,11,12], [13,14,15], [16,17,18], [19,20,21]]), index=['P', 'Q', 'R', 'S'], columns=['A', 'B', 'C'])
df2

    A   B   C
P  10  11  12
Q  13  14  15
R  16  17  18
S  19  20  21

In [9]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [10]:
df2.index

Index(['P', 'Q', 'R', 'S'], dtype='object')

In [13]:
df.iloc[1]

A    4
B    5
C    6
Name: 1, dtype: int32

In [14]:
df.iloc[0]

A    1
B    2
C    3
Name: 0, dtype: int32

In [16]:
df2.loc['P']

A    10
B    11
C    12
Name: P, dtype: int32

In [18]:
df3 = df2.iloc[0:3, 0:2]
df3

    A   B
P  10  11
Q  13  14
R  16  17

In [22]:
df4 = df2.iloc[0:3, 0: -1]
df4

    A   B
P  10  11
Q  13  14
R  16  17

In [26]:
df5 = df2.iloc[0:3, :-2]
df5

    A
P  10
Q  13
R  16

In [ ]:
fd = pd.read_csv()